<div class="row col-xs-4 col-xs-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">
            <img src="{{url}}" class="image-responsive center-block" width="300"/>
                <div class="desc">
                    <br>
                    <p>{{desc}}</p>
                    {{# each details}}
                               <p class="text-success">{{this.ingredient.item}} {{this.ingredient.serving}} {{this.ingredient.unit}}</p>
                    {{/each}}
                    <p>{{note}}</p>
                    <p>{{#each hashTag}}<span class="label label-default">#{{this}}</span> {{/each}} </p>
                </div>
        </div>

    </div>
</div>