{{# each coffees}}
    <div class="row">
        {{# each this }}
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="{{ this.url }}"
                     alt="..." class="img-responsive">
                <div class="caption">
                    <h5 class="title">{{this.name}}</h5>
                    <p><a href="/coffee/detail/{{this.id}}" class="btn btn-default" role="button">View ingredients</a></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{/each}}

