<div class="grid">
    <div class="row col-xs-4 col-xs-offset-4">
        <h1>Upload Ingredient</h1>
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" required="true">
            </div>
            <div class="form-group">
                <label for="name">Calorie</label>
                <input type="number" id="calorie" name="calorie" class="form-control" required="true">
            </div>
            <div class="form-group">
                <label for="name">Unit</label>
                <input type="text" id="unit" name="unit" class="form-control" required="true">
            </div>
            <button id="submit" type="submit" class="btn btn-info col-xs-12">Add ingredient</button>
        </form>
    </div>


    <div class="row form-group col-md-12">
        <hr>
        <h1 class="col-md-12 text-center">Ingredient Lists</h1>
    {{# each ingredients}}
            {{# each this }}
                <div class="col-sm-3 col-md-3">
                    <table class="table">
                        <tr>
                            <th class="bg-info">{{this.name}}
                                <button value="{{this.name}}" class="deleteItem badge pull-right">X</button>
                            </th>
                        </tr>
                        <td>{{this.calorie}}</td>
                        </tr>
                        <tr>
                            <td>{{this.unit}}</td>
                        </tr>
                    </table>
                </div>
            {{/each}}
    {{/each}}
    </div>
</div>

<script type="text/javascript" src="/javascripts/ingredient.js"></script>