<div class="grid col-xs-4 col-xs-offset-4">
    <div class="row">
        <div class="col-md-4 col-md-offset-4"></div>
        <h1>Upload Drink</h1>
        <form id="picForm" method="post">
            <input type="file" id="file" name="drink"/>
            <!--<input type="submit" value="Upload Image" name="submit">-->
        </form>
        <div class="form-group">
            <image class="testImage pull-left" id="image"
                   src="https://www.unavco.org/lib/images/wireframe-image.png"></image>
        </div>
    </div>
    <div class="row">
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" required="true">
            </div>
            <div class="form-group">
                <label for="name">Category</label><br>
                <label class="radio-inline"><input type="radio" name="category" value="Hot Drinks">Hot Drinks</label>
                <label class="radio-inline"><input type="radio" name="category" value="Cold Drinks">Cold Drinks</label>
                <label class="radio-inline"><input type="radio" name="category"
                                                   value="Frappuccinos">Frappuccinos</label>
                <label class="radio-inline"><input type="radio" name="category" value="Teas">Teas</label>
            </div>
            <div class="form-group">
                <h3>Description</h3>
                <label for="name">Instruction for Grande</label>
                <textarea style="resize:none" rows="5" id="desc" name="desc" class="form-control"
                          required="true"></textarea>
            </div>

            <div class="form-group">
                <h3>Ingredients</h3>
                <label for="Ingredient">Ingredient</label>
                <div class="dropdown">
                    <select class="form-control" id="ingredient_list">
                        {{#each ingredients}}
                            {{#each this}}
                                <option name="{{this.name}}" calorie="{{this.calorie}}"
                                        unit="{{this.unit}}">{{this.name}}</option>
                            {{/each}}
                        {{/each}}
                    </select>
                </div>
                <label for="Ingredient">Serving</label>
                <input type="number" id="serving" name="serving" class="form-control">
            </div>
            <button id="add" type="button" class="btn btn-info">Add ingrident</button>
            <div class="form-group">
                <p id="ingList"></p>
            </div>
            <div class="form-group">
                <h3>Note</h3>
                <textarea style="resize:none" rows="3" id="note" name="note" class="form-control"
                          required="true"></textarea>
            </div>


            <div class="form-group">
                <h3>Tags</h3>
                <label for="hashTag">Hash tags</label>
                <input type="text" id="hashTag" name="hashTag" class="form-control">
            </div>
            <button id="submit" type="submit" class="btn btn-info">Upload Recipe</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="/javascripts/upload.js"></script>