<div class="row col-xs-4 col-xs-offset-4">
    <form method="post">
        <a href="../api/auth/facebook" class="col-xs-12 btn btn-primary"><span class="fa fa-facebook"></span>Continue with Facebook</a>
    </form>
</div>
<script type="text/javascript" src="/javascripts/authenticate.js"></script>