<div class="grid">
<div class="row col-xs-4 col-xs-offset-4">
    <a href="../api/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Continue with Facebook</a>
    <!--<form action="../api/register" method="post">-->
        <!--<div class="form-group">-->
            <!--<label for="name">Name</label>-->
            <!--<input type="text" id="name" name="name"class="form-control" required="true">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="email">Email</label>-->
            <!--<input type="email" id="email" name="email"class="form-control" required="true">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="password">Password</label>-->
            <!--<input type="password" id="password" name="password"class="form-control" required="true">-->
        <!--</div>-->
        <!--<button id="submit" type="submit" class = "btn btn-info">Register</button>-->
    <!--</form>-->
</div>
</div>
<!--<div class="container">-->

    <!--<div class="jumbotron text-center">-->
        <!--<p>Login or Register with:</p>-->

        <!--<a href="../api/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
        <!--<a href="../api/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>-->
    <!--</div>-->

<!--</div>-->
<script type="text/javascript" src="/javascripts/user.js"></script>