
.thumbnail img {
    width: 100%;
}
.thumbnail .title {
    color: #00704a;
    margin-top: 10px;
    text-align: center;
}
.thumbnail p {
    margin-bottom: 0;
}
.thumbnail .caption {
    padding: 0;
}

.thumbnail .btn {
    background-color: #00704a;
    color: white;
    width: 100%;
    margin: 0;
}

.desc .col-md-4{
    float: left;
    padding: 0;
}

.container {
    padding: 0;
}

.testImage{
    display: block;
    width: 200px;
    margin: auto;
    padding: 10px;
}